*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.content-wrapper{
    width: 600px;
    height: 600px;
    min-width: 300px;
    flex-direction: column;
    margin-top: 30px;
    margin: auto;
    background-color: bisque;
    gap: auto;
}
.images{
    gap: 1rem;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}
.get-centered{
    justify-content: center;
    justify-items: center;
}
.scoreboard{
    gap: 1rem;
}
body{
    background-color: black;
}